
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 8 0px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h3 {
  font-weight: 100;
  letter-spacing: 0.1em;
}


html, body {
  height:100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
}

#root, .App {
  min-height: 100%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 1;
}

.leaflet-container {
  flex: 15;
}
